{"openapi":"3.1.0","info":{"title":"InferHub Integration API","version":"1.0.0","summary":"One sk-airo- key for inference, account/billing management, and the publisher marketplace.","description":"InferHub exposes three surfaces, all authenticated by the **same `sk-airo-` API key**\nyou use for inference. Send it as `Authorization: Bearer sk-airo-…` (the Anthropic-style\n`x-api-key` header is also accepted).\n\n### Surfaces\n- **Inference** — `https://api.inferhub.dev` · OpenAI (`/v1/chat/completions`, `/v1/responses`)\n  and Anthropic (`/v1/messages`) compatible. Agents and SDKs speak this directly.\n- **Management API** — `https://inferhub.dev/api` · keys, billing/deposits, budgets, combos,\n  catalog preferences, usage, and the full publisher marketplace (providers, asks, schedule,\n  earnings, withdrawals). This is the surface documented in detail below.\n- **MCP server** — `https://inferhub.dev/mcp/sse` · the same management functions exposed as\n  tools for agents (Claude Code, Cursor, …) over the SSE transport.\n\n### Model name formats (inference)\n`\"<prefix>/<model>\"` (e.g. `ocg/glm-5.2`), `\"<alias>\"` (e.g. `glm-5`), `\"combo/<slug>\"`,\nor `\"free/<slug>/<model>\"`. A bare model name with no slash is treated as an alias and routed\ncheapest-first across its members.\n\n### Money\nAll monetary values are USDC, returned as decimal **strings** (e.g. `\"12.500000\"`). Money-moving\nendpoints are idempotent where it matters (deposits by signature, topups by claim) and use atomic\nconditional ledger debits so concurrent requests can never overdraw.\n\n### Errors\nErrors use `{\"error\":{\"code\":\"…\",\"message\":\"…\"}}` with a RESTful status\n(`400`/`401`/`403`/`404`/`409`/`422`/`429`). Inference errors follow the OpenAI/Anthropic shapes.\n","contact":{"email":"contact@inferhub.dev"},"license":{"name":"See /terms"}},"servers":[{"url":"https://inferhub.dev/api","description":"Management API"},{"url":"https://api.inferhub.dev","description":"Inference API (OpenAI/Anthropic-compatible)"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Account","description":"Profile, balances, data export, account deletion"},{"name":"Keys","description":"Create / list / rotate / revoke API keys"},{"name":"Billing","description":"Deposit addresses, USDC credit-by-signature, fiat top-ups"},{"name":"Budgets","description":"Per-model and per-alias spend caps the router enforces"},{"name":"Combos","description":"Consumer model bundles (combo/<slug>)"},{"name":"Catalog","description":"Model catalog + per-account enable/disable preferences"},{"name":"Usage","description":"Request logs, usage breakdown, prompt-cache stats"},{"name":"Market","description":"Public, unauthenticated market data (asks, last rates, fee config)"},{"name":"Publisher: Profile","description":"Publisher profile (also grants the publisher role)"},{"name":"Publisher: Providers","description":"Provider accounts, usage, asks, schedule, concurrency"},{"name":"Publisher: Earnings","description":"Earnings balance and transfer to spend balance"},{"name":"Publisher: Withdrawals","description":"Verified destinations, OTP-gated payouts"},{"name":"Inference","description":"OpenAI/Anthropic-compatible inference (served by the Go proxy)"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Your InferHub API key, format `sk-airo-<24 chars>`. Send as `Authorization: Bearer sk-airo-…`."}},"schemas":{"Error":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","example":"validation_error"},"message":{"type":"string"}}}}},"OkResult":{"type":"object","properties":{"ok":{"type":"boolean"},"error":{"type":"string"}}},"ApiKey":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"keyPrefix":{"type":"string","description":"12-char non-secret prefix"},"scopes":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","format":"date-time"},"lastUsedAt":{"type":"string","format":"date-time","nullable":true},"expiresAt":{"type":"string","format":"date-time","nullable":true},"replacedById":{"type":"string","nullable":true}}}}},"paths":{"/me":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Account"],"summary":"Get my account summary (profile + balances)","responses":{"200":{"description":"Account profile and current USDC balances by account kind.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"displayName":{"type":"string","nullable":true},"status":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"balances":{"type":"object","additionalProperties":{"type":"string"},"description":"account_kind → amount_usdc, e.g. {consumer_balance, publisher_earnings}"}}}}}}}},"delete":{"tags":["Account"],"summary":"Delete my account (soft-delete)","description":"Irreversible. Revokes all API keys and locks the account in one transaction; ledger/audit trail is preserved.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["confirm"],"properties":{"confirm":{"type":"string","enum":["DELETE"]}}}}}},"responses":{"204":{"description":"Account deleted"},"422":{"description":"confirm did not equal DELETE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/me/data-export":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Account"],"summary":"Export my personal data (GDPR)","responses":{"200":{"description":"A pretty-printed JSON document of the caller's own data (secrets redacted).","content":{"application/json":{"schema":{"type":"object","properties":{"json":{"type":"string"},"filename":{"type":"string"}}}}}}}}},"/keys":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Keys"],"summary":"List API keys","responses":{"200":{"description":"Non-revoked keys (metadata only; never the secret).","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"}}}}}}},"post":{"tags":["Keys"],"summary":"Create an API key","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":64}}}}}},"responses":{"201":{"description":"Created. The plaintext `secret` is returned exactly once.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"secret":{"type":"string","description":"Full sk-airo-… key — store immediately"},"prefix":{"type":"string"}}}}}}}}},"/keys/{id}/rotate":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Keys"],"summary":"Rotate an API key (24h grace window)","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"201":{"description":"New key created; the old key stays valid for 24h then auto-expires. New plaintext `secret` returned once.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"secret":{"type":"string"},"prefix":{"type":"string"}}}}}},"404":{"description":"Key not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/keys/{id}":{"servers":[{"url":"https://inferhub.dev/api"}],"delete":{"tags":["Keys"],"summary":"Revoke an API key (immediate)","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Revoked"}}}},"/deposit-address":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Billing"],"summary":"Get (or derive) my Solana deposit address","responses":{"200":{"description":"The caller's unique deposit address (pubkey + USDC ATA) for the active network.","content":{"application/json":{"schema":{"type":"object","properties":{"pubkey":{"type":"string"},"ata":{"type":"string"},"network":{"type":"string","enum":["devnet","mainnet"]}}}}}}}}},"/deposit-address/poll":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Billing"],"summary":"Bump the deposit scan queue","description":"Asks the round-robin scanner to re-check your deposit address on the next tick (~1 min). 5-minute cooldown.","responses":{"204":{"description":"Queued — the scanner re-checks your address on the next tick (~1 min). No body."},"404":{"description":"No deposit address found for this account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"On cooldown (5 min). The error object carries `retryAfter` (seconds).","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"rate_limited"},"message":{"type":"string"},"retryAfter":{"type":"integer","description":"seconds until cooldown expires"}}}}}}}}}}},"/deposits/credit-by-signature":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Billing"],"summary":"Instantly credit a USDC deposit by transaction signature","description":"Verifies the on-chain USDC transfer lands in YOUR deposit ATA, then writes the same idempotent double-entry the worker does.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["signature"],"properties":{"signature":{"type":"string","pattern":"^[1-9A-HJ-NP-Za-km-z]{64,88}$","description":"Solana transaction signature"}}}}}},"responses":{"200":{"description":"Credited (or already credited). `amount` is USDC as a 6-decimal string.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"amount":{"type":"string"},"alreadyCredited":{"type":"boolean"}}}}}}}}},"/topups":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Billing"],"summary":"List recent top-ups","responses":{"200":{"description":"10 most recent top-ups (QRIS/PayPal) for the authenticated consumer, newest first.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Top-up row id."},"amountUsdc":{"type":"string","description":"USDC amount credited on payment, as a decimal string e.g. \"12.500000\"."},"amountIdr":{"type":"number","description":"IDR amount to pay (integer rupiah, including QRIS unique suffix)."},"paymentMethod":{"type":"string","description":"e.g. \"qris\" or \"paypal\"."},"status":{"type":"string","description":"Lifecycle: \"created\" | \"pending\" | \"paid\" | \"failed\" | \"expired\"."},"paymentUrl":{"type":"string","nullable":true,"description":"Provider payment page URL, or null."},"topupKey":{"type":"string","nullable":true,"description":"Public top-up key (\"ih-topup-\" + uuid), or null."},"takoTransactionId":{"type":"string","nullable":true,"description":"Tako/PayPal transaction id, or null."},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp (ISO 8601)."}},"required":["id","amountUsdc","amountIdr","paymentMethod","status","paymentUrl","topupKey","takoTransactionId","createdAt"]}}}}}}},"post":{"tags":["Billing"],"summary":"Create a fiat top-up (QRIS / PayPal)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["amount","paymentMethod"],"properties":{"amount":{"type":"number","description":"USDC (paypal, min $5) or IDR (qris, Rp10k–Rp500k)"},"paymentMethod":{"type":"string","enum":["qris","paypal"]}}}}}},"responses":{"200":{"description":"Top-up created; balance credits asynchronously on payment. Returns QR payload / PayPal URL.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"topupKey":{"type":"string"},"paymentMethod":{"type":"string"},"paymentUrl":{"type":"string"},"qrData":{"type":"string"},"qrSvg":{"type":"string"},"paypalUrl":{"type":"string"},"amountUsdc":{"type":"string"},"amountIdr":{"type":"number"},"rate":{"type":"number"}}}}}}}}},"/topups/{topupKey}/payment":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Billing"],"summary":"Re-fetch a top-up's QR / payment URL","parameters":[{"name":"topupKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Re-fetch the QRIS payload / PayPal checkout URL for a top-up created but not yet paid (created/pending status only).","content":{"application/json":{"schema":{"type":"object","properties":{"paymentMethod":{"type":"string","description":"e.g. \"qris\" or \"paypal\"."},"paymentUrl":{"type":"string","description":"Provider payment page URL. Omitted when not applicable (e.g. Shopee QRIS path)."},"qrData":{"type":"string","description":"Raw QRIS payload string for rendering a QR. Omitted when unavailable."},"qrSvg":{"type":"string","description":"Inline SVG rendering of the QRIS payload. Omitted when QR generation fails."},"paypalUrl":{"type":"string","description":"Resolved PayPal checkout URL. Omitted when not applicable (QRIS path)."}},"required":["paymentMethod"]}}}}}}},"/topups/{topupKey}/refresh":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Billing"],"summary":"Poll / credit a QRIS top-up","parameters":[{"name":"topupKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Current status; credits on confirmed payment (idempotent).","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"status":{"type":"string"},"paid":{"type":"boolean"}}}}}}}}},"/budgets":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Budgets"],"summary":"List per-model budgets + market min asks","responses":{"200":{"description":"Every available catalog model plus the caller's stored per-model budget caps; one row per model, ordered by provider prefix then upstream model id. The body is the array directly (no envelope).","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["upstreamCatalogModelId","prefix","upstreamModelId","upstreamLabel","officialInputPerMtok","officialOutputPerMtok","marketMinAskIn","marketMinAskOut","maxInputPerMtok","maxOutputPerMtok","minDiscountPct","enabled"],"properties":{"upstreamCatalogModelId":{"type":"string","format":"uuid","description":"Catalog model id this budget caps."},"prefix":{"type":"string","description":"Provider prefix, e.g. 'anthropic'."},"upstreamModelId":{"type":"string","description":"Upstream model id, e.g. 'claude-3-5-sonnet'."},"upstreamLabel":{"type":"string","description":"Human-readable provider label."},"officialInputPerMtok":{"type":"string","description":"Official input price per million tokens as a decimal string, e.g. '3.000000'."},"officialOutputPerMtok":{"type":"string","description":"Official output price per million tokens as a decimal string, e.g. '15.000000'."},"marketMinAskIn":{"type":"string","nullable":true,"description":"Cheapest active marketplace provider input ask per Mtok (decimal string), or null if no marketplace ask exists."},"marketMinAskOut":{"type":"string","nullable":true,"description":"Cheapest active marketplace provider output ask per Mtok (decimal string), or null if no marketplace ask exists."},"maxInputPerMtok":{"type":"string","nullable":true,"description":"Caller's saved max input price per Mtok cap (decimal string), or null if not set."},"maxOutputPerMtok":{"type":"string","nullable":true,"description":"Caller's saved max output price per Mtok cap (decimal string), or null if not set."},"minDiscountPct":{"type":"string","nullable":true,"description":"Caller's saved minimum discount percent off official price (decimal string, e.g. '15.0'), or null if not set."},"enabled":{"type":"boolean","description":"Whether this budget row is enabled; true when the stored row is enabled or absent."}}}}}}}}}},"/budgets/aliases":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Budgets"],"summary":"List budgets grouped by alias","responses":{"200":{"description":"Every available catalog model grouped by alias (cross-provider model name). Standalone un-aliased models appear as single-member rows keyed by their upstream model id. Ordered by isAlias desc then alias. The body is the array directly (no envelope).","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["alias","label","isAlias","memberModelIds","memberCount","minDiscountPct","officialInMin","officialInMax","officialOutMin","officialOutMax","upstreamLabels"],"properties":{"alias":{"type":"string","description":"Alias slug, or the upstream_model_id when this is a standalone (un-aliased) model."},"label":{"type":"string","description":"Human-readable alias or model label."},"isAlias":{"type":"boolean","description":"True for a real model alias group; false for a standalone model."},"memberModelIds":{"type":"array","items":{"type":"string","format":"uuid"},"description":"Catalog model ids this budget writes to (N for an alias group, 1 for standalone)."},"memberCount":{"type":"integer","description":"Number of catalog models in this group."},"minDiscountPct":{"type":"string","nullable":true,"description":"Shared min discount percent cap if all members share one stored value (decimal string, e.g. '15.0'); null otherwise (or when no budget is set)."},"officialInMin":{"type":"string","nullable":true,"description":"Lowest official input price per Mtok across members (decimal string)."},"officialInMax":{"type":"string","nullable":true,"description":"Highest official input price per Mtok across members (decimal string)."},"officialOutMin":{"type":"string","nullable":true,"description":"Lowest official output price per Mtok across members (decimal string)."},"officialOutMax":{"type":"string","nullable":true,"description":"Highest official output price per Mtok across members (decimal string)."},"upstreamLabels":{"type":"array","items":{"type":"string"},"description":"Distinct provider labels backing the members of this group."}}}}}}}}},"put":{"tags":["Budgets"],"summary":"Set a budget across alias members","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["memberIds"],"properties":{"memberIds":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1},"maxInputPerMtok":{"type":"string","nullable":true},"maxOutputPerMtok":{"type":"string","nullable":true},"minDiscountPct":{"type":"string","nullable":true}}}}}},"responses":{"200":{"description":"Applied to all members (or deleted when all caps are null).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/budgets/{modelId}":{"servers":[{"url":"https://inferhub.dev/api"}],"put":{"tags":["Budgets"],"summary":"Set or clear a single model budget","parameters":[{"name":"modelId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"maxInputPerMtok":{"type":"string","nullable":true},"maxOutputPerMtok":{"type":"string","nullable":true},"minDiscountPct":{"type":"string","nullable":true},"enabled":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Budget set (or deleted when all caps null).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}},"delete":{"tags":["Budgets"],"summary":"Delete a model budget","parameters":[{"name":"modelId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Deleted"}}}},"/combos":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Combos"],"summary":"List my combos","responses":{"200":{"description":"The caller's combos with their member models, in created-desc order; empty array if none.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"slug":{"type":"string"},"maxInputPerMtok":{"type":"string","nullable":true,"description":"decimal string $/Mtok in, or null for unlimited"},"maxOutputPerMtok":{"type":"string","nullable":true,"description":"decimal string $/Mtok out, or null for unlimited"},"createdAt":{"type":"string","format":"date-time"},"members":{"type":"array","items":{"type":"object","properties":{"modelId":{"type":"string","format":"uuid"},"model":{"type":"string","description":"upstream prefix + '/' + upstream_model_id"},"label":{"type":"string","nullable":true}},"required":["modelId","model","label"]}}},"required":["id","name","slug","maxInputPerMtok","maxOutputPerMtok","createdAt","members"]}}}}}}},"post":{"tags":["Combos"],"summary":"Create a combo","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","slug","modelIds"],"properties":{"name":{"type":"string","minLength":1,"maxLength":64},"slug":{"type":"string","pattern":"^[a-z0-9][a-z0-9_-]*$"},"maxInputPerMtok":{"type":"string","nullable":true},"maxOutputPerMtok":{"type":"string","nullable":true},"modelIds":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1}}}}}},"responses":{"201":{"description":"Combo created. Body is an empty JSON object (the ok flag is stripped before responding).","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}}}}},"/combos/available-models":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Combos"],"summary":"List models available to bundle","responses":{"200":{"description":"Catalog models the caller can bundle into a combo, ordered by upstream label then model id; empty array if none.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"model":{"type":"string","description":"upstream prefix + '/' + upstream_model_id"},"label":{"type":"string","nullable":true},"upstreamLabel":{"type":"string","nullable":true},"prefix":{"type":"string"},"upstreamId":{"type":"string","format":"uuid"}},"required":["id","model","label","upstreamLabel","prefix","upstreamId"]}}}}}}}},"/combos/{id}":{"servers":[{"url":"https://inferhub.dev/api"}],"delete":{"tags":["Combos"],"summary":"Delete a combo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Deleted"}}}},"/catalog":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Catalog"],"summary":"List model catalog by upstream (with live asks + my preferences)","responses":{"200":{"description":"This consumer's upstream/model cards with live marketplace asks and their disable preferences, grouped by upstream. Returns the UpstreamCard[] directly (no envelope).","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["id","slug","prefix","label","status","upstreamDisabled","enabled","activeProviders","models"],"properties":{"id":{"type":"string","format":"uuid"},"slug":{"type":"string"},"prefix":{"type":"string"},"label":{"type":"string"},"status":{"type":"string","enum":["available","coming_soon"]},"upstreamDisabled":{"type":"boolean"},"enabled":{"type":"boolean"},"activeProviders":{"type":"integer"},"models":{"type":"array","items":{"type":"object","required":["id","upstreamModelId","label","officialIn","officialOut","asksIn","asksOut","enabled","modelDisabled","supportsCache"],"properties":{"id":{"type":"string","format":"uuid"},"upstreamModelId":{"type":"string"},"label":{"type":"string","nullable":true},"officialIn":{"type":"string","description":"Official input price per Mtok as a decimal string, e.g. \"3.000000\""},"officialOut":{"type":"string","description":"Official output price per Mtok as a decimal string, e.g. \"15.000000\""},"asksIn":{"type":"array","items":{"type":"number"},"description":"Live per-provider input ask per Mtok (one entry per live marketplace provider); empty when no supply."},"asksOut":{"type":"array","items":{"type":"number"},"description":"Live per-provider output ask per Mtok (one entry per live marketplace provider); empty when no supply."},"enabled":{"type":"boolean"},"modelDisabled":{"type":"boolean"},"supportsCache":{"type":"boolean"}}}}}}}}}}}}},"/catalog/upstreams/{upstreamId}/enabled":{"servers":[{"url":"https://inferhub.dev/api"}],"put":{"tags":["Catalog"],"summary":"Enable/disable an entire upstream for my account","parameters":[{"name":"upstreamId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["enabled"],"properties":{"enabled":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Preference updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/catalog/models/{modelId}/enabled":{"servers":[{"url":"https://inferhub.dev/api"}],"put":{"tags":["Catalog"],"summary":"Enable/disable a single model for my account","parameters":[{"name":"modelId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["enabled"],"properties":{"enabled":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Preference updated (parent-aware collapse/promotion).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/usage/logs":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Usage"],"summary":"List request logs (paginated)","parameters":[{"name":"page","in":"query","schema":{"type":"integer","minimum":1,"default":1}},{"name":"pageSize","in":"query","schema":{"type":"integer","default":25}},{"name":"range","in":"query","schema":{"type":"string","enum":["24h","7d","30d","90d","all"],"default":"30d"}},{"name":"status","in":"query","schema":{"type":"string","enum":["all","ok","error","4xx","5xx",429]}},{"name":"model","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string","enum":["ts","model","status","in","out","cost","ttft","tps","cached"]}},{"name":"dir","in":"query","schema":{"type":"string","enum":["asc","desc"],"default":"desc"}}],"responses":{"200":{"description":"Paginated consumer request logs for the range, with filtered/unfiltered counts and rolled-up cost/token/saved totals. Body is the UsageLogPage object.","content":{"application/json":{"schema":{"type":"object","required":["rows","total","rangeTotal","page","pageSize","totalCostUsdc","totalTokens","totalSavedUsdc","range"],"properties":{"rows":{"type":"array","items":{"type":"object","required":["id","ts","status","http_status","prompt_tokens","completion_tokens","cached_tokens","cache_write_tokens","cost_consumer_usdc","ask_input_per_mtok","ask_output_per_mtok","region","model","upstream_label","ttft_ms","duration_ms"],"properties":{"id":{"type":"string","format":"uuid","description":"request_logs id"},"ts":{"type":"string","format":"date-time","description":"ISO-8601 UTC timestamp e.g. 2026-08-08T12:34:56.789Z"},"status":{"type":"string","description":"Request status (e.g. ok, error)"},"http_status":{"type":"integer"},"prompt_tokens":{"type":"integer","nullable":true},"completion_tokens":{"type":"integer","nullable":true},"cached_tokens":{"type":"integer","nullable":true},"cache_write_tokens":{"type":"integer","nullable":true},"cost_consumer_usdc":{"type":"string","description":"USDC decimal string e.g. 0.001234"},"ask_input_per_mtok":{"type":"string","nullable":true,"description":"Per-Mtok publisher input price the request was served at, decimal string"},"ask_output_per_mtok":{"type":"string","nullable":true,"description":"Per-Mtok publisher output price the request was served at, decimal string"},"region":{"type":"string","nullable":true},"model":{"type":"string","nullable":true,"description":"<prefix>/<upstream_model_id> when resolvable, else null"},"upstream_label":{"type":"string","nullable":true},"ttft_ms":{"type":"number","nullable":true,"description":"Time-to-first-token in ms"},"duration_ms":{"type":"number","nullable":true,"description":"Request duration in ms"}}}},"total":{"type":"integer","description":"Filtered row count (status/model applied)"},"rangeTotal":{"type":"integer","description":"Unfiltered range count"},"page":{"type":"integer","description":"1-indexed current page"},"pageSize":{"type":"integer","description":"Page size (1..100)"},"totalCostUsdc":{"type":"string","description":"USDC decimal string; rolled-up cost over range"},"totalTokens":{"type":"integer","description":"Rolled-up prompt+completion tokens over range"},"totalSavedUsdc":{"type":"string","description":"USDC decimal string; rolled-up savings vs official pricing"},"range":{"type":"string","enum":["24h","7d","30d","90d","all"]}}}}}}}}},"/usage/logs/models":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Usage"],"summary":"List distinct models used (filter options)","parameters":[{"name":"range","in":"query","schema":{"type":"string","enum":["24h","7d","30d","90d","all"],"default":"30d"}}],"responses":{"200":{"description":"Distinct <prefix>/<model> tokens the consumer has hit in range. Body is a JSON array (top-level), not wrapped in an object.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["value","label"],"properties":{"value":{"type":"string","description":"<prefix>/<upstream_model_id>"},"label":{"type":"string","description":"Same as value"}}}}}}}}}},"/usage/breakdown":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Usage"],"summary":"Aggregate usage by model / provider","parameters":[{"name":"range","in":"query","schema":{"type":"string","enum":["24h","7d","30d","90d","all"],"default":"30d"}}],"responses":{"200":{"description":"Usage aggregates for the consumer over the range, grouped by alias/model, provider x model, and provider (from usage_daily rollups + live raw slice). Body is the UsageBreakdown object.","content":{"application/json":{"schema":{"type":"object","required":["range","byModel","byProviderModel","byProvider"],"properties":{"range":{"type":"string","enum":["24h","7d","30d","90d","all"]},"byModel":{"type":"array","items":{"type":"object","required":["key","label","isAlias","reqs","inputTokens","outputTokens","costUsdc"],"properties":{"key":{"type":"string","description":"Alias slug when mapped, else upstream_model_id"},"label":{"type":"string"},"isAlias":{"type":"boolean"},"reqs":{"type":"integer"},"inputTokens":{"type":"integer"},"outputTokens":{"type":"integer"},"costUsdc":{"type":"string","description":"USDC decimal string"}}}},"byProviderModel":{"type":"array","items":{"type":"object","required":["providerLabel","prefix","modelId","model","reqs","inputTokens","outputTokens","costUsdc"],"properties":{"providerLabel":{"type":"string"},"prefix":{"type":"string"},"modelId":{"type":"string","description":"upstream_model_id"},"model":{"type":"string","description":"<prefix>/<upstream_model_id> when resolvable"},"reqs":{"type":"integer"},"inputTokens":{"type":"integer"},"outputTokens":{"type":"integer"},"costUsdc":{"type":"string","description":"USDC decimal string"}}}},"byProvider":{"type":"array","items":{"type":"object","required":["providerLabel","prefix","reqs","inputTokens","outputTokens","costUsdc"],"properties":{"providerLabel":{"type":"string"},"prefix":{"type":"string"},"reqs":{"type":"integer"},"inputTokens":{"type":"integer"},"outputTokens":{"type":"integer"},"costUsdc":{"type":"string","description":"USDC decimal string"}}}}}}}}}}}},"/usage/cache-stats":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Usage"],"summary":"Prompt-cache hit stats","parameters":[{"name":"range","in":"query","schema":{"type":"string","enum":["24h","7d","30d","90d","all"],"default":"30d"}}],"responses":{"200":{"description":"Per-user prompt-cache stats for the range, scoped to cache-capable models, plus aggregated totals and hit rate. Body is the UsageCacheStats object.","content":{"application/json":{"schema":{"type":"object","required":["range","rows","totals"],"properties":{"range":{"type":"string","enum":["24h","7d","30d","90d","all"]},"rows":{"type":"array","items":{"type":"object","required":["label","reqs","promptTokens","cachedTokens","cacheWriteTokens"],"properties":{"label":{"type":"string","description":"<prefix|label>/<upstream_model_id>"},"reqs":{"type":"integer","description":"Count of ok requests"},"promptTokens":{"type":"integer"},"cachedTokens":{"type":"integer"},"cacheWriteTokens":{"type":"integer"}}}},"totals":{"type":"object","required":["reqs","promptTokens","cachedTokens","cacheWriteTokens","hitRate"],"properties":{"reqs":{"type":"integer"},"promptTokens":{"type":"integer"},"cachedTokens":{"type":"integer"},"cacheWriteTokens":{"type":"integer"},"hitRate":{"type":"number","minimum":0,"maximum":1,"description":"cachedTokens / promptTokens clamped to 0..1; 0 when no prompt tokens"}}}}}}}}}}},"/market":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Market"],"summary":"Live market snapshot (min/max asks + last traded rate per model)","security":[],"responses":{"200":{"description":"Live market snapshot: per catalog model the cheapest/highest active provider ask (input & output $/Mtok) plus the most-recent successfully traded blended $/Mtok. Returned directly (no envelope).","content":{"application/json":{"schema":{"type":"object","required":["ts","models"],"properties":{"ts":{"type":"integer","description":"Snapshot build time as epoch milliseconds (Date.now())."},"models":{"type":"array","description":"Models with activity on at least one side (the live market). Ordered by upstream prefix then upstream_model_id.","items":{"type":"object","required":["slug","family","minAskIn","minAskOut","maxAskIn","maxAskOut","lastRate"],"properties":{"slug":{"type":"string","description":"Catalog slug of the form \"<upstream_prefix>/<upstream_model_id>\"."},"family":{"type":"string","description":"Upstream catalog label (human-readable provider family)."},"minAskIn":{"type":"number","nullable":true,"description":"Cheapest active provider input $/Mtok ask across enabled marketplace providers."},"minAskOut":{"type":"number","nullable":true,"description":"Cheapest active provider output $/Mtok ask across enabled marketplace providers."},"maxAskIn":{"type":"number","nullable":true,"description":"Highest active provider input $/Mtok ask across enabled marketplace providers."},"maxAskOut":{"type":"number","nullable":true,"description":"Highest active provider output $/Mtok ask across enabled marketplace providers."},"lastRate":{"type":"number","nullable":true,"description":"Blended $/Mtok of the most recent status='ok' request within the last 24h. Null when no successful trade is recorded."}}}}}}}}}}}},"/market/stream":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Market"],"summary":"SSE stream of the live market snapshot","security":[],"responses":{"200":{"description":"text/event-stream; one snapshot per ~15s.","content":{"text/event-stream":{}}}}}},"/pricing/config":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Market"],"summary":"Platform pricing rules (ask cap, fee split)","security":[],"responses":{"200":{"description":"Platform pricing knobs read from platform_config (mirrors the public pricing page). Never throws; each value falls back to its own documented default. Returned directly (no envelope).","content":{"application/json":{"schema":{"type":"object","required":["maxAskPctOfOfficial","platformFeePct","publisherSharePct"],"properties":{"maxAskPctOfOfficial":{"type":"number","description":"Platform-wide ceiling on publisher asks, as a fraction of official $/Mtok (0.5 = 50%)."},"platformFeePct":{"type":"number","description":"Fraction of each consumer charge the platform keeps (0.2 = 20%)."},"publisherSharePct":{"type":"number","description":"Publisher revenue share as a whole-number percent ((1 - fee) x 100), e.g. 80."}}}}}}}}},"/publisher/profile":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Publisher: Profile"],"summary":"Get my publisher profile","responses":{"200":{"description":"Profile, or null if none yet.","content":{"application/json":{"schema":{"type":"object","nullable":true,"properties":{"publisherName":{"type":"string"},"description":{"type":"string","nullable":true},"status":{"type":"string"}}}}}}}},"put":{"tags":["Publisher: Profile"],"summary":"Save / create publisher profile (promotes your account to publisher)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["publisherName"],"properties":{"publisherName":{"type":"string","minLength":2,"maxLength":64},"description":{"type":"string","maxLength":280,"nullable":true}}}}}},"responses":{"200":{"description":"Profile saved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/publisher/providers":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Publisher: Providers"],"summary":"List my provider accounts (with usage, earnings, schedule)","responses":{"200":{"description":"Array of the caller's marketplace provider rows (one per account, across all upstreams).","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["id","displayName","upstreamSlug","upstreamPrefix","upstreamLabel","upstreamSignupUrl","enabled","apiKeyCheckStatus","apiKeyVerifiedAt","cooldownUntil","observedUsedTokens","observedLimitTokens","observedUsedPct","observedWindow","observedResetAt","observedSource","observedSyncedAt","observedPlan","drainedUntil","drainedWindow","earningsLifetimeUsdc","modelCount","scheduleEnabled","scheduleTimezone","scheduleWindows","scheduleActive","maxConcurrent","autoResetCredit"],"properties":{"id":{"type":"string","format":"uuid"},"displayName":{"type":"string"},"upstreamSlug":{"type":"string"},"upstreamPrefix":{"type":"string"},"upstreamLabel":{"type":"string"},"upstreamSignupUrl":{"type":"string","nullable":true},"enabled":{"type":"boolean"},"apiKeyCheckStatus":{"type":"string","nullable":true},"apiKeyVerifiedAt":{"type":"string","format":"date-time","nullable":true},"cooldownUntil":{"type":"string","format":"date-time","nullable":true},"observedUsedTokens":{"type":"number","nullable":true},"observedLimitTokens":{"type":"number","nullable":true},"observedUsedPct":{"type":"number","nullable":true},"observedWindow":{"type":"string","nullable":true},"observedResetAt":{"type":"string","format":"date-time","nullable":true},"observedSource":{"type":"string","nullable":true},"observedSyncedAt":{"type":"string","format":"date-time","nullable":true},"observedPlan":{"type":"string","nullable":true},"drainedUntil":{"type":"string","format":"date-time","nullable":true},"drainedWindow":{"type":"string","nullable":true},"earningsLifetimeUsdc":{"type":"string"},"modelCount":{"type":"integer"},"scheduleEnabled":{"type":"boolean"},"scheduleTimezone":{"type":"string","nullable":true},"scheduleWindows":{"type":"array","items":{"type":"object","required":["day","start","end"],"properties":{"day":{"type":"integer"},"start":{"type":"string"},"end":{"type":"string"}}}},"scheduleActive":{"type":"boolean"},"maxConcurrent":{"type":"integer"},"autoResetCredit":{"type":"boolean"}}}}}}}}},"post":{"tags":["Publisher: Providers"],"summary":"Batch-add API-key providers","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["upstreamSlug","keys"],"properties":{"upstreamSlug":{"type":"string","pattern":"^[a-z][a-z0-9_-]*$"},"labelPrefix":{"type":"string"},"keys":{"type":"string","description":"Newline-separated API keys (8–512 chars each)"}}}}}},"responses":{"200":{"description":"Batch-add summary: per-key results plus created/failed counts. The ok flag from the core is stripped before serialization.","content":{"application/json":{"schema":{"type":"object","required":["results","created","failed"],"properties":{"results":{"type":"array","items":{"type":"object","required":["index","keyHint","ok"],"properties":{"index":{"type":"integer"},"keyHint":{"type":"string"},"ok":{"type":"boolean"},"providerId":{"type":"string","format":"uuid","nullable":true},"error":{"type":"string","nullable":true}}}},"created":{"type":"integer"},"failed":{"type":"integer"}}}}}}}}},"/publisher/providers/codex/bulk":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Publisher: Providers"],"summary":"Bulk-add Codex OAuth accounts from JSON","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["jsonText"],"properties":{"jsonText":{"type":"string"}}}}}},"responses":{"200":{"description":"Codex OAuth bulk-add summary: per-account results plus created/failed counts. The ok flag from the core is stripped.","content":{"application/json":{"schema":{"type":"object","required":["results","created","failed"],"properties":{"results":{"type":"array","items":{"type":"object","required":["index","ok"],"properties":{"index":{"type":"integer"},"ok":{"type":"boolean"},"email":{"type":"string","nullable":true},"providerId":{"type":"string","format":"uuid","nullable":true},"error":{"type":"string","nullable":true}}}},"created":{"type":"integer"},"failed":{"type":"integer"}}}}}}}}},"/publisher/providers/usage-windows":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Publisher: Providers"],"summary":"Batched usage windows for all my providers","responses":{"200":{"description":"Map of providerId to its latest observed usage windows, for every provider the caller owns.","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","required":["windowKind","usedTokens","limitTokens","usedPct","remainingPct","resetAt","source","observedAt"],"properties":{"windowKind":{"type":"string"},"usedTokens":{"type":"number","nullable":true},"limitTokens":{"type":"number","nullable":true},"usedPct":{"type":"number","nullable":true},"remainingPct":{"type":"number","nullable":true},"resetAt":{"type":"string","format":"date-time","nullable":true},"source":{"type":"string"},"observedAt":{"type":"string","format":"date-time","nullable":true}}}}}}}}}}},"/publisher/providers/invalid":{"servers":[{"url":"https://inferhub.dev/api"}],"delete":{"tags":["Publisher: Providers"],"summary":"Delete all invalid providers in an upstream","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["upstreamSlug"],"properties":{"upstreamSlug":{"type":"string"}}}}}},"responses":{"200":{"description":"Count of invalid providers deleted for the given upstream.","content":{"application/json":{"schema":{"type":"object","required":["deleted"],"properties":{"deleted":{"type":"integer"}}}}}}}}},"/publisher/providers/{id}":{"servers":[{"url":"https://inferhub.dev/api"}],"delete":{"tags":["Publisher: Providers"],"summary":"Delete one provider","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Deleted (earnings ledger preserved).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/publisher/providers/{id}/enabled":{"servers":[{"url":"https://inferhub.dev/api"}],"patch":{"tags":["Publisher: Providers"],"summary":"Enable/disable a provider","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["enabled"],"properties":{"enabled":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Toggled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/publisher/providers/{id}/recheck":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Publisher: Providers"],"summary":"Re-verify a provider's key/token","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Result of re-verifying the provider's key/token. status is the stored check status (ok | invalid | network_error); error carries the upstream message when status is not ok. The ok flag is stripped.","content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string"},"error":{"type":"string","nullable":true}}}}}}}}},"/publisher/providers/{id}/usage/refresh":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Publisher: Providers"],"summary":"Poll live upstream usage for a provider","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Usage refreshed (z.ai / claude-code / codex only).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/publisher/providers/{id}/usage-windows":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Publisher: Providers"],"summary":"Usage windows for one provider","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Latest observed usage per window kind for one provider. Empty array when the caller does not own the provider.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["windowKind","usedTokens","limitTokens","usedPct","remainingPct","resetAt","source","observedAt"],"properties":{"windowKind":{"type":"string"},"usedTokens":{"type":"number","nullable":true},"limitTokens":{"type":"number","nullable":true},"usedPct":{"type":"number","nullable":true},"remainingPct":{"type":"number","nullable":true},"resetAt":{"type":"string","format":"date-time","nullable":true},"source":{"type":"string"},"observedAt":{"type":"string","format":"date-time","nullable":true}}}}}}}}}},"/publisher/providers/{id}/asks":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Publisher: Providers"],"summary":"Per-model asks for a provider (+ cap, avg, cheapest)","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Per-model marketplace asks for the provider's upstream, with official refs, platform cap, today's volume-weighted average settled ask, and the active market floor. Empty array when not owned by the caller.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["upstreamCatalogModelId","upstreamModelId","modelStatus","modality","askInputPerMtok","askOutputPerMtok","enabled","officialInputPerMtok","officialOutputPerMtok","defaultDiscountPct","maxAskPct","maxAskIn","maxAskOut","avgPriceIn","avgPriceOut","avgPriceRequests","cheapestActivePct","pctOff"],"properties":{"upstreamCatalogModelId":{"type":"string","format":"uuid"},"upstreamModelId":{"type":"string"},"modelStatus":{"type":"string"},"modality":{"type":"string"},"askInputPerMtok":{"type":"string","nullable":true},"askOutputPerMtok":{"type":"string","nullable":true},"enabled":{"type":"boolean"},"officialInputPerMtok":{"type":"string"},"officialOutputPerMtok":{"type":"string"},"defaultDiscountPct":{"type":"number"},"maxAskPct":{"type":"number"},"maxAskIn":{"type":"number"},"maxAskOut":{"type":"number"},"avgPriceIn":{"type":"string","nullable":true},"avgPriceOut":{"type":"string","nullable":true},"avgPriceRequests":{"type":"integer"},"cheapestActivePct":{"type":"number","nullable":true},"pctOff":{"type":"number","description":"Current ask as % off official (0.1 step, 50.0–99.9)."}}}}}}}}}},"/publisher/providers/{id}/auto-reset-credit":{"servers":[{"url":"https://inferhub.dev/api"}],"patch":{"tags":["Publisher: Providers"],"summary":"Toggle Codex auto reset-credit spend (Codex only; auto-spends real money)","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["enabled"],"properties":{"enabled":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Toggled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/publisher/upstreams":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Publisher: Providers"],"summary":"List the upstream catalog","responses":{"200":{"description":"List the upstream catalog available to publishers (entries with status 'hidden' are excluded).","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string","description":"Lowercase upstream identifier, e.g. 'openrouter'."},"prefix":{"type":"string","description":"Routing prefix for models, e.g. 'or'."},"label":{"type":"string","description":"Human-readable upstream name."},"description":{"type":"string","description":"Short marketing/admin description (may be empty string)."},"signupUrl":{"type":"string","format":"uri","nullable":true,"description":"Where to obtain an API key for this upstream, or null."},"status":{"type":"string","enum":["available","coming_soon"]},"pricingModel":{"type":"string","enum":["subscription","pay_as_you_go"]}},"required":["slug","prefix","label","description","signupUrl","status","pricingModel"]}}}}}}}},"/publisher/upstreams/{slug}/asks/{modelId}":{"servers":[{"url":"https://inferhub.dev/api"}],"put":{"tags":["Publisher: Providers"],"summary":"Set an ask price for a model — single % off official (tab-wide)","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"modelId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["pctOff"],"properties":{"pctOff":{"type":"number","description":"Percent off official (0.1 step, 50.0–99.9). Drives BOTH input and output — they are always equal."}}}}}},"responses":{"200":{"description":"Ask set on all your providers on that upstream (snapped to 0.1% in the cap range).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}},"422":{"description":"Out of range or off-step.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/publisher/upstreams/{slug}/schedule":{"servers":[{"url":"https://inferhub.dev/api"}],"put":{"tags":["Publisher: Providers"],"summary":"Set weekly on/off schedule (tab-wide)","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["enabled","windows"],"properties":{"enabled":{"type":"boolean"},"timezone":{"type":"string","description":"IANA tz, required when enabled"},"windows":{"type":"array","items":{"type":"object","properties":{"day":{"type":"integer","minimum":0,"maximum":6},"start":{"type":"string"},"end":{"type":"string"}}},"minItems":1}}}}}},"responses":{"200":{"description":"Schedule applied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/publisher/upstreams/{slug}/max-concurrent":{"servers":[{"url":"https://inferhub.dev/api"}],"put":{"tags":["Publisher: Providers"],"summary":"Set max in-flight requests per account (tab-wide)","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["maxConcurrent"],"properties":{"maxConcurrent":{"type":"integer","minimum":1,"maximum":10}}}}}},"responses":{"200":{"description":"Concurrency cap applied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/publisher/earnings":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Publisher: Earnings"],"summary":"Earnings + spend balances","responses":{"200":{"description":"Publisher earnings balance and consumer (API) balance.","content":{"application/json":{"schema":{"type":"object","properties":{"publisherEarningsUsdc":{"type":"string","description":"USDC decimal string of accrued publisher earnings; '0' when no row exists."},"consumerBalanceUsdc":{"type":"string","description":"USDC decimal string of the consumer/API balance; '0' when no row exists."}},"required":["publisherEarningsUsdc","consumerBalanceUsdc"]}}}}}}},"/publisher/earnings/transfer":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Publisher: Earnings"],"summary":"Transfer earnings to spend balance (instant, zero fee, internal ledger)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["amount"],"properties":{"amount":{"type":"string","pattern":"^\\d+(\\.\\d+)?$"}}}}}},"responses":{"200":{"description":"Move publisher earnings into the consumer (API) balance via an instant internal ledger transfer.","content":{"application/json":{"schema":{"type":"object","properties":{"transferred":{"type":"string","description":"The USDC decimal amount that was transferred."}},"required":["transferred"]}}}}}}},"/publisher/withdrawals":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Publisher: Withdrawals"],"summary":"List withdrawal history","responses":{"200":{"description":"List the caller's withdrawal/payout requests (most recent 50).","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"destination":{"type":"string","description":"Solana base58 payout address."},"amountUsdc":{"type":"string","description":"USDC decimal amount requested."},"status":{"type":"string","description":"Lifecycle state, e.g. 'requested', 'approved', 'completed'."},"signature":{"type":"string","nullable":true,"description":"On-chain Solana transaction signature once broadcast, else null."},"network":{"type":"string","description":"Solana network, e.g. 'devnet' or 'mainnet'."},"requestedAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time","nullable":true}},"required":["id","destination","amountUsdc","status","signature","network","requestedAt","completedAt"]}}}}}}},"post":{"tags":["Publisher: Withdrawals"],"summary":"Request a payout (OTP-gated, manual approval)","description":"Verifies the single-use OTP (bound to destination+amount), then atomically debits publisher_earnings into payout_pending. Status stays `requested` until admin approval + on-chain disbursement.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["destination","amountUsdc","otp"],"properties":{"destination":{"type":"string"},"amountUsdc":{"type":"string"},"otp":{"type":"string","pattern":"^\\d{6}$"}}}}}},"responses":{"201":{"description":"Create a new withdrawal/payout request (requires a verified destination and a valid withdrawal OTP).","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"ID of the newly created withdrawal request."}},"required":["id"]}}}}}}},"/publisher/withdrawals/otp":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Publisher: Withdrawals"],"summary":"Send withdrawal confirmation OTP (pre-validates amount + destination)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["destination","amountUsdc"],"properties":{"destination":{"type":"string"},"amountUsdc":{"type":"string"}}}}}},"responses":{"200":{"description":"Validate the intended withdrawal and email a single-use confirmation code. Returns an empty object on success.","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}}}}},"/publisher/withdrawals/destinations":{"servers":[{"url":"https://inferhub.dev/api"}],"get":{"tags":["Publisher: Withdrawals"],"summary":"List verified withdrawal destinations","responses":{"200":{"description":"Verified Solana destinations.","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/publisher/withdrawals/destinations/verifications":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Publisher: Withdrawals"],"summary":"Send destination-verification OTP","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["destination"],"properties":{"destination":{"type":"string"}}}}}},"responses":{"200":{"description":"{ ok, retryAfter? }","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/publisher/withdrawals/destinations/verifications/confirm":{"servers":[{"url":"https://inferhub.dev/api"}],"post":{"tags":["Publisher: Withdrawals"],"summary":"Confirm & whitelist a destination","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["destination","code"],"properties":{"destination":{"type":"string"},"code":{"type":"string","pattern":"^\\d{6}$"}}}}}},"responses":{"200":{"description":"Whitelisted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkResult"}}}}}}},"/v1/models":{"servers":[{"url":"https://api.inferhub.dev"}],"get":{"tags":["Inference"],"summary":"List available models (OpenAI shape, with pricing)","description":"Returns paid (`prefix/model`), free (`free/slug/model`), and alias (bare name) models. Non-alias models carry a `pricing` object.","responses":{"200":{"description":"OpenAI-compatible ModelList with an InferHub `pricing` extension per model. Returns {object:\"list\", data:[...models]}. Pricing rates are JSON numbers (USD per 1M tokens); official_in/official_out are always present when pricing is attached; asks/min_ask are omitted when empty/zero.","content":{"application/json":{"schema":{"type":"object","required":["object","data"],"properties":{"object":{"type":"string","description":"Always \"list\"."},"data":{"type":"array","items":{"type":"object","required":["id","object","created","owned_by","supports_cache"],"properties":{"id":{"type":"string","description":"Routable model id, e.g. \"<prefix>/<upstream_model_id>\", \"free/<slug>/<upstream_model_id>\", or a bare alias name."},"object":{"type":"string","description":"Always \"model\"."},"created":{"type":"integer","description":"Unix epoch seconds (current server time)."},"owned_by":{"type":"string","description":"Provider prefix, \"free/<slug>\", or \"alias\" for auto-routed aliases."},"supports_cache":{"type":"boolean","description":"Whether upstream supports prompt caching for this model."},"modality":{"type":"string","description":"Input modalities, e.g. \"text\" or \"text,image\". Omitted when empty."},"upstream_label":{"type":"string","description":"Human-readable upstream label. Omitted when null."},"pricing":{"type":"object","description":"InferHub marketplace pricing extension. Omitted for aliases and models with no ask data and zero official rates.","required":["official_in","official_out"],"properties":{"official_in":{"type":"number","description":"Upstream official reference price per 1M input tokens (USD)."},"official_out":{"type":"number","description":"Upstream official reference price per 1M output tokens (USD)."},"asks_in":{"type":"array","items":{"type":"number"},"description":"Sorted marketplace provider ask prices per 1M input tokens. Omitted when empty."},"asks_out":{"type":"array","items":{"type":"number"},"description":"Sorted marketplace provider ask prices per 1M output tokens. Omitted when empty."},"min_ask_in":{"type":"number","description":"Cheapest marketplace ask per 1M input tokens. Omitted when 0/null."},"min_ask_out":{"type":"number","description":"Cheapest marketplace ask per 1M output tokens. Omitted when 0/null."}}}}}}}}}}}}}},"/v1/me/usage":{"servers":[{"url":"https://api.inferhub.dev"}],"get":{"tags":["Inference"],"summary":"Account usage (balance + window/all-time/session spend)","parameters":[{"name":"window","in":"query","schema":{"type":"string","enum":["day","24h","7d","30d"],"default":"day"}},{"name":"tz","in":"query","schema":{"type":"string"}},{"name":"session_id","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Consumer account usage object (object:\"account.usage\"). Returns balance, current window spend, all-time totals, optional session usage, optional top model, and cache status. All top-level keys are always present; session/top_model values may be null.","content":{"application/json":{"schema":{"type":"object","required":["object","currency","balance","window","all_time","session","top_model","cache"],"properties":{"object":{"type":"string","description":"Always \"account.usage\"."},"currency":{"type":"string","description":"Always \"USDC\"."},"balance":{"type":"object","required":["amount_usdc","updated_at"],"properties":{"amount_usdc":{"type":"string","description":"Current USDC balance, decimal string with 6 fractional digits, e.g. \"12.500000\"."},"updated_at":{"type":"string","format":"date-time","nullable":true,"description":"RFC3339 UTC timestamp of last balance update; null when balance row is absent."}}},"window":{"type":"object","required":["kind","tz","since","until","requests","prompt_tokens","completion_tokens","total_tokens","spend_usdc"],"properties":{"kind":{"type":"string","description":"Window selector echoed back: \"day\" | \"24h\" | \"7d\" | \"30d\"."},"tz":{"type":"string","description":"IANA timezone name used for day-boundary computation (default \"UTC\")."},"since":{"type":"string","format":"date-time","description":"RFC3339 UTC start of the usage window."},"until":{"type":"string","format":"date-time","description":"RFC3339 UTC end of the usage window (server now)."},"requests":{"type":"integer","format":"int32","description":"Successful request count within the window."},"prompt_tokens":{"type":"integer","format":"int64","description":"Input tokens consumed within the window."},"completion_tokens":{"type":"integer","format":"int64","description":"Output tokens consumed within the window."},"total_tokens":{"type":"integer","format":"int64","description":"prompt_tokens + completion_tokens."},"spend_usdc":{"type":"string","description":"Window USDC spend, decimal string with 6 fractional digits."}}},"all_time":{"type":"object","required":["requests","prompt_tokens","completion_tokens","total_tokens","spend_usdc"],"properties":{"requests":{"type":"integer","format":"int32","description":"Lifetime successful request count."},"prompt_tokens":{"type":"integer","format":"int64","description":"Lifetime input tokens."},"completion_tokens":{"type":"integer","format":"int64","description":"Lifetime output tokens."},"total_tokens":{"type":"integer","format":"int64","description":"prompt_tokens + completion_tokens."},"spend_usdc":{"type":"string","description":"Lifetime USDC spend, decimal string with 6 fractional digits."}}},"session":{"type":"object","nullable":true,"description":"Per-conversation usage for session_id (or the user's most recent conversation if session_id omitted). Null when session=0/false is set, when no session_id/row exists, or when the session has zero requests.","required":["id","requests","prompt_tokens","completion_tokens","total_tokens","spend_usdc","since","until"],"properties":{"id":{"type":"string","description":"Normalized session/conversation id."},"requests":{"type":"integer","format":"int32","description":"Successful request count for this session."},"prompt_tokens":{"type":"integer","format":"int64"},"completion_tokens":{"type":"integer","format":"int64"},"total_tokens":{"type":"integer","format":"int64","description":"prompt_tokens + completion_tokens."},"spend_usdc":{"type":"string","description":"Session USDC spend, decimal string with 6 fractional digits."},"since":{"type":"string","format":"date-time","nullable":true,"description":"RFC3339 UTC timestamp of first session request; null when session has no rows."},"until":{"type":"string","format":"date-time","nullable":true,"description":"RFC3339 UTC timestamp of last session request; null when session has no rows."}}},"top_model":{"type":"object","nullable":true,"description":"Most-used model all-time. Null when the user has no usage rows.","required":["model","requests","tokens","spend_usdc"],"properties":{"model":{"type":"string","description":"Model id of the top all-time model."},"requests":{"type":"integer","format":"int32","description":"All-time successful request count for this model."},"tokens":{"type":"integer","format":"int64","description":"All-time token total (in+out) for this model."},"spend_usdc":{"type":"string","description":"All-time USDC spend for this model, decimal string with 6 fractional digits."}}},"cache":{"type":"object","required":["cached","ttl_seconds"],"properties":{"cached":{"type":"boolean","description":"Whether this response was served from the in-process cache."},"ttl_seconds":{"type":"integer","description":"Server-side cache TTL (seconds)."}}}}}}}}}}},"/v1/chat/completions":{"servers":[{"url":"https://api.inferhub.dev"}],"post":{"tags":["Inference"],"summary":"OpenAI chat completions (streamable)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["model"],"properties":{"model":{"type":"string"},"messages":{"type":"array"},"stream":{"type":"boolean"},"max_tokens":{"type":"integer"}}}}}},"responses":{"200":{"description":"OpenAI chat completion (SSE when stream=true).","content":{"application/json":{"schema":{"type":"object"}},"text/event-stream":{}}}}}},"/v1/messages":{"servers":[{"url":"https://api.inferhub.dev"}],"post":{"tags":["Inference"],"summary":"Anthropic messages (streamable)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["model","messages","max_tokens"],"properties":{"model":{"type":"string"},"messages":{"type":"array"},"max_tokens":{"type":"integer"},"system":{},"tools":{"type":"array"},"stream":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Anthropic message (SSE when stream=true; native passthrough for claude upstream).","content":{"application/json":{"schema":{"type":"object"}},"text/event-stream":{}}}}}},"/v1/responses":{"servers":[{"url":"https://api.inferhub.dev"}],"post":{"tags":["Inference"],"summary":"OpenAI responses (streamable; Codex / agents)","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["model"],"properties":{"model":{"type":"string"},"input":{},"instructions":{"type":"string"},"tools":{"type":"array"},"stream":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Responses object (native for codex/grok with hosted tools; translated otherwise).","content":{"application/json":{"schema":{"type":"object"}},"text/event-stream":{}}}}}}}}